public/flow/ws_all.json
[{"id":"2e13e7b3.d1b688","type":"websocket in","z":"79844dfb.a28874","name":"web socket index - in","server":"6388e501.18c23c","client":"","x":142.93331909179688,"y":84.9333267211914,"wires":[["317cedf9.601bd2"]]},{"id":"317cedf9.601bd2","type":"function","z":"79844dfb.a28874","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":415.3777618408203,"y":102.2666597366333,"wires":[["1734cbf4.0d2e24"],["4e3dfd6a.28dbb4"]]},{"id":"15698228.fd0f1e","type":"function","z":"79844dfb.a28874","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":882.3777618408203,"y":124.93333053588867,"wires":[["1734cbf4.0d2e24"]]},{"id":"1734cbf4.0d2e24","type":"websocket out","z":"79844dfb.a28874","name":"web socket mobiUI - out","server":"6388e501.18c23c","client":"","x":1161.3777618408203,"y":84.93333053588867,"wires":[]},{"id":"9fde70bf.bc99","type":"comment","z":"79844dfb.a28874","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":121.37776184082031,"y":37.93333053588867,"wires":[]},{"id":"4e3dfd6a.28dbb4","type":"http request","z":"79844dfb.a28874","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":632.3777618408203,"y":124.93333053588867,"wires":[["15698228.fd0f1e"]]},{"id":"e15ba152.54b32","type":"websocket out","z":"79844dfb.a28874","name":"web socket mobiUI - out","server":"f57d280d.e23be8","client":"","x":893.7333221435547,"y":355.4333305358887,"wires":[]},{"id":"b2801d40.ad8c5","type":"websocket in","z":"79844dfb.a28874","name":"web socket tools - in","server":"f57d280d.e23be8","client":"","x":127.73332214355469,"y":269.4333305358887,"wires":[["983eaf27.c2b21","7c3c58b7.ab8928"]]},{"id":"b56767c8.715e68","type":"comment","z":"79844dfb.a28874","name":"Listen /ws/devices","info":"","x":117.73332214355469,"y":230.43333053588867,"wires":[]},{"id":"983eaf27.c2b21","type":"function","z":"79844dfb.a28874","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":114.17776489257812,"y":354.4333267211914,"wires":[["8584fae.1f3f508"]]},{"id":"7c3c58b7.ab8928","type":"debug","z":"79844dfb.a28874","name":"","active":false,"console":"false","complete":"payload","x":443.9833221435547,"y":268.0505180358887,"wires":[]},{"id":"8584fae.1f3f508","type":"http request","z":"79844dfb.a28874","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":311.7333221435547,"y":354.4333305358887,"wires":[["4b43377c.904aa8","1efab9b7.e36626"]]},{"id":"4b43377c.904aa8","type":"debug","z":"79844dfb.a28874","name":"","active":false,"console":"false","complete":"false","x":424.9755096435547,"y":434.0505180358887,"wires":[]},{"id":"1efab9b7.e36626","type":"function","z":"79844dfb.a28874","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":592.7333221435547,"y":356.4333305358887,"wires":[["e15ba152.54b32"]]},{"id":"94c21b71.f144b8","type":"comment","z":"79844dfb.a28874","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":129.73331451416016,"y":487.26664876937866,"wires":[]},{"id":"86ddd3a7.28a95","type":"function","z":"79844dfb.a28874","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":159.28801727294922,"y":591.6529402732849,"wires":[["1d7f0e76.fd5712"],["40ad8ed0.4d311"]]},{"id":"e9cce02a.19ffe","type":"function","z":"79844dfb.a28874","name":"Get Device Information","func":"node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table1\", v: json}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":884.2880477905273,"y":643.6529402732849,"wires":[["1d7f0e76.fd5712","10fc77e4.f503d8"]]},{"id":"1d7f0e76.fd5712","type":"websocket out","z":"79844dfb.a28874","name":"web socket mobiUI - out","server":"bb6361.f12bcca","client":"","x":1200.2880477905273,"y":564.6529402732849,"wires":[]},{"id":"cf603b47.1b4898","type":"http request","z":"79844dfb.a28874","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":616.2880477905273,"y":646.6529402732849,"wires":[["e9cce02a.19ffe","bf7d4a54.6dd1a8"]]},{"id":"88a70084.e741b","type":"websocket in","z":"79844dfb.a28874","name":"Web Socket gateway - in","server":"bb6361.f12bcca","client":"","x":152.77938079833984,"y":532.2553820610046,"wires":[["86ddd3a7.28a95"]]},{"id":"40ad8ed0.4d311","type":"function","z":"79844dfb.a28874","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":440.58492279052734,"y":637.8986067771912,"wires":[["cf603b47.1b4898"],["716df5c7.bb6c3c"]]},{"id":"52fed9d7.5c35b8","type":"function","z":"79844dfb.a28874","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table2\", v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":892.3427352905273,"y":708.0392317771912,"wires":[["1d7f0e76.fd5712","5db1ead.1385f14"]]},{"id":"716df5c7.bb6c3c","type":"http request","z":"79844dfb.a28874","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":614.3427352905273,"y":711.0392317771912,"wires":[["52fed9d7.5c35b8"]]},{"id":"10fc77e4.f503d8","type":"debug","z":"79844dfb.a28874","name":"","active":false,"console":"false","complete":"payload","x":1206.5927352905273,"y":650.6486067771912,"wires":[]},{"id":"5db1ead.1385f14","type":"debug","z":"79844dfb.a28874","name":"","active":false,"console":"false","complete":"payload","x":1218.3427352905273,"y":717.0392317771912,"wires":[]},{"id":"bf7d4a54.6dd1a8","type":"debug","z":"79844dfb.a28874","name":"","active":false,"console":"false","complete":"false","x":818.5849227905273,"y":522.6564192771912,"wires":[]},{"id":"6388e501.18c23c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"f57d280d.e23be8","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"bb6361.f12bcca","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]