public/flow/ws_all.json
[{"id":"94d0523d.6721d","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket index - in","server":"33e2347f.64cc5c","client":"","x":120.19999694824219,"y":100.99999618530273,"wires":[["37b951ac.1b369e"]]},{"id":"37b951ac.1b369e","type":"function","z":"7ea42bd7.df0fa4","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":392.6444396972656,"y":118.33332920074463,"wires":[["4b28d9a8.cb3ea8"],["c34d8c3c.7e41a"]]},{"id":"d7177278.5995e","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":859.6444396972656,"y":141,"wires":[["4b28d9a8.cb3ea8"]]},{"id":"4b28d9a8.cb3ea8","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"33e2347f.64cc5c","client":"","x":1138.6444396972656,"y":101,"wires":[]},{"id":"b0491091.cf1be","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":98.64443969726562,"y":54,"wires":[]},{"id":"c34d8c3c.7e41a","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":609.6444396972656,"y":141,"wires":[["d7177278.5995e"]]},{"id":"8321aee8.0c939","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"939a0cfc.acd3","client":"","x":871,"y":371.5,"wires":[]},{"id":"a1f47829.61c7d8","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket tools - in","server":"939a0cfc.acd3","client":"","x":105,"y":285.5,"wires":[["795c15a5.68730c","b729e7cc.b966d8"]]},{"id":"c91147b7.df8698","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/devices","info":"","x":95,"y":246.5,"wires":[]},{"id":"795c15a5.68730c","type":"function","z":"7ea42bd7.df0fa4","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":91.44444274902344,"y":370.49999618530273,"wires":[["26d44c08.b6e594"]]},{"id":"b729e7cc.b966d8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":421.25,"y":284.1171875,"wires":[]},{"id":"26d44c08.b6e594","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":289,"y":370.5,"wires":[["17123cce.07cad3","cae6ddad.027cf"]]},{"id":"17123cce.07cad3","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"false","x":402.2421875,"y":450.1171875,"wires":[]},{"id":"cae6ddad.027cf","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":372.5,"wires":[["8321aee8.0c939"]]},{"id":"1dbfbc8e.964763","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":106.99999237060547,"y":503.33331823349,"wires":[]},{"id":"4eb1a5bc.ab4a6c","type":"function","z":"7ea42bd7.df0fa4","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":136.55469512939453,"y":607.7196097373962,"wires":[["98541b39.2689d8"],["318cd608.987dfa"]]},{"id":"80ce7da3.3ee2a","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table1\", v: json}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":861.5547256469727,"y":659.7196097373962,"wires":[["98541b39.2689d8","bc22665d.137af8"]]},{"id":"98541b39.2689d8","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"b2eaa7f9.638558","client":"","x":1177.5547256469727,"y":580.7196097373962,"wires":[]},{"id":"b0003e78.5ea55","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":593.5547256469727,"y":662.7196097373962,"wires":[["80ce7da3.3ee2a","edf9c473.6439e8"]]},{"id":"d975fb80.5e33b8","type":"websocket in","z":"7ea42bd7.df0fa4","name":"Web Socket gateway - in","server":"b2eaa7f9.638558","client":"","x":130.04605865478516,"y":548.322051525116,"wires":[["4eb1a5bc.ab4a6c"]]},{"id":"318cd608.987dfa","type":"function","z":"7ea42bd7.df0fa4","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":417.85160064697266,"y":653.9652762413025,"wires":[["b0003e78.5ea55"],["f3c06f74.773fe"]]},{"id":"e897f5a1.7a4268","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table2\", v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":869.6094131469727,"y":724.1059012413025,"wires":[["98541b39.2689d8","dffc02af.f60ec"]]},{"id":"f3c06f74.773fe","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":591.6094131469727,"y":727.1059012413025,"wires":[["e897f5a1.7a4268"]]},{"id":"bc22665d.137af8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":1183.8594131469727,"y":666.7152762413025,"wires":[]},{"id":"dffc02af.f60ec","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":1195.6094131469727,"y":733.1059012413025,"wires":[]},{"id":"edf9c473.6439e8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"false","x":795.8516006469727,"y":538.7230887413025,"wires":[]},{"id":"33e2347f.64cc5c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"939a0cfc.acd3","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"b2eaa7f9.638558","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]