public/flow/ws_devices.json
[{"id":"f61c1773.a77808","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"c45b7414.51ee88","client":"","x":880.8000030517578,"y":355.5,"wires":[]},{"id":"d63a29b4.958e38","type":"websocket in","z":"9467c388.fa093","name":"web socket tools - in","server":"c45b7414.51ee88","client":"","x":114.80000305175781,"y":269.5,"wires":[["f036d80c.005678","b9979b06.500aa8"]]},{"id":"ed9869e.b400698","type":"comment","z":"9467c388.fa093","name":"Listen /ws/devices","info":"","x":104.80000305175781,"y":230.5,"wires":[]},{"id":"b9979b06.500aa8","type":"function","z":"9467c388.fa093","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var sDate = obj.v.sDate;\n    var eDate = obj.v.eDate;\n    //var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&sDate=\"+sDate+\"&eDate=\"+eDate;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":101.24444580078125,"y":354.49999618530273,"wires":[["b5125cfb.ad467"]]},{"id":"f036d80c.005678","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":431.0500030517578,"y":268.1171875,"wires":[]},{"id":"b5125cfb.ad467","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":298.8000030517578,"y":354.5,"wires":[["eb2e50cc.b3aa6","ea8bd892.b0b188"]]},{"id":"eb2e50cc.b3aa6","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"false","x":412.0421905517578,"y":434.1171875,"wires":[]},{"id":"ea8bd892.b0b188","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":579.8000030517578,"y":356.5,"wires":[["f61c1773.a77808"]]},{"id":"c45b7414.51ee88","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]