public/flow/ws_devices.json
[{"id":"339006c0.62054a","type":"websocket out","z":"4f2b4131.421e2","name":"web socket mobiUI - out","server":"4a15fdb6.b142c4","client":"","x":901.7333221435547,"y":381.5,"wires":[]},{"id":"3403b18.6399a4e","type":"websocket in","z":"4f2b4131.421e2","name":"web socket tools - in","server":"4a15fdb6.b142c4","client":"","x":135.7333221435547,"y":295.5,"wires":[["f2e2f9ed.1759c8","b88111fa.9c9ac"]]},{"id":"b4ec7a3b.8df5b8","type":"comment","z":"4f2b4131.421e2","name":"Listen /ws/devices","info":"","x":125.73332214355469,"y":256.5,"wires":[]},{"id":"b88111fa.9c9ac","type":"function","z":"4f2b4131.421e2","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var sDate = obj.v.sDate;\n    var eDate = obj.v.eDate;\n    //var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&sDate=\"+sDate+\"&eDate=\"+eDate;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":122.17776489257812,"y":380.49999618530273,"wires":[["7636f571.5a551c"]]},{"id":"f2e2f9ed.1759c8","type":"debug","z":"4f2b4131.421e2","name":"","active":false,"console":"false","complete":"payload","x":451.9833221435547,"y":294.1171875,"wires":[]},{"id":"7636f571.5a551c","type":"http request","z":"4f2b4131.421e2","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":319.7333221435547,"y":380.5,"wires":[["35d55a69.952996","933e0728.9cd288"]]},{"id":"35d55a69.952996","type":"debug","z":"4f2b4131.421e2","name":"","active":false,"console":"false","complete":"false","x":432.9755096435547,"y":460.1171875,"wires":[]},{"id":"933e0728.9cd288","type":"function","z":"4f2b4131.421e2","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":600.7333221435547,"y":382.5,"wires":[["339006c0.62054a"]]},{"id":"4a15fdb6.b142c4","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]