public/flow/ws_devices.json
[{"id":"8321aee8.0c939","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"939a0cfc.acd3","client":"","x":871,"y":371.5,"wires":[]},{"id":"a1f47829.61c7d8","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket tools - in","server":"939a0cfc.acd3","client":"","x":105,"y":285.5,"wires":[["795c15a5.68730c","b729e7cc.b966d8"]]},{"id":"c91147b7.df8698","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/devices","info":"","x":95,"y":246.5,"wires":[]},{"id":"795c15a5.68730c","type":"function","z":"7ea42bd7.df0fa4","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":91.44444274902344,"y":370.49999618530273,"wires":[["26d44c08.b6e594"]]},{"id":"b729e7cc.b966d8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":421.25,"y":284.1171875,"wires":[]},{"id":"26d44c08.b6e594","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":289,"y":370.5,"wires":[["17123cce.07cad3","cae6ddad.027cf"]]},{"id":"17123cce.07cad3","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"false","x":402.2421875,"y":450.1171875,"wires":[]},{"id":"cae6ddad.027cf","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":372.5,"wires":[["8321aee8.0c939"]]},{"id":"939a0cfc.acd3","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}][{"id":"8321aee8.0c939","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"939a0cfc.acd3","client":"","x":871,"y":371.5,"wires":[]},{"id":"a1f47829.61c7d8","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket tools - in","server":"939a0cfc.acd3","client":"","x":105,"y":285.5,"wires":[["795c15a5.68730c","b729e7cc.b966d8"]]},{"id":"c91147b7.df8698","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/devices","info":"","x":95,"y":246.5,"wires":[]},{"id":"795c15a5.68730c","type":"function","z":"7ea42bd7.df0fa4","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":91.44444274902344,"y":370.49999618530273,"wires":[["26d44c08.b6e594"]]},{"id":"b729e7cc.b966d8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":421.25,"y":284.1171875,"wires":[]},{"id":"26d44c08.b6e594","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":289,"y":370.5,"wires":[["17123cce.07cad3","cae6ddad.027cf"]]},{"id":"17123cce.07cad3","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"false","x":402.2421875,"y":450.1171875,"wires":[]},{"id":"cae6ddad.027cf","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":372.5,"wires":[["8321aee8.0c939"]]},{"id":"939a0cfc.acd3","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]