public/flow/ws_gateway.json
[{"id":"9f0fa04a.80316","type":"comment","z":"9467c388.fa093","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":116.79999542236328,"y":487.33331823349,"wires":[]},{"id":"50eb233d.581c3c","type":"function","z":"9467c388.fa093","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":146.35469818115234,"y":591.7196097373962,"wires":[["57bde888.5a7258"],["3616f354.ed445c"]]},{"id":"4d04ac36.650c74","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nnode.warn('Get Device length:'+devices.length);\nvar flag = json.flag;\nvar page = 0;\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar obj = {data:dataString,type: 'gateway',flag:flag}\nif(json.page !== undefined && json.page > 0){\n    obj.page = json.page;\n}\n\nmsg.payload = {id:\"change_table1\", v: obj}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":871.3547286987305,"y":643.7196097373962,"wires":[["57bde888.5a7258","da595760.35ed38"]]},{"id":"57bde888.5a7258","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"a3f5b64f.e11b48","client":"","x":1187.3547286987305,"y":564.7196097373962,"wires":[]},{"id":"87ab3af8.21a588","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":603.3547286987305,"y":646.7196097373962,"wires":[["4d04ac36.650c74","3e5eb4d5.b2050c"]]},{"id":"8e932737.162b08","type":"websocket in","z":"9467c388.fa093","name":"Web Socket gateway - in","server":"a3f5b64f.e11b48","client":"","x":139.84606170654297,"y":532.322051525116,"wires":[["50eb233d.581c3c"]]},{"id":"3616f354.ed445c","type":"function","z":"9467c388.fa093","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar page = obj.page;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page='+page;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page='+page;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":427.65160369873047,"y":637.9652762413025,"wires":[["87ab3af8.21a588"],["b9d940bc.14c56"]]},{"id":"8b713145.034a8","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nnode.warn('Get Device length:'+devices.length);\nvar flag = json.flag;\nvar page = 0;\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar obj = {data:dataString,type: 'gateway',flag:flag}\nif(json.page !== undefined && json.page > 0){\n    obj.page = json.page;\n}\n\nmsg.payload = {id:\"change_table2\", v: obj}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":879.4094161987305,"y":708.1059012413025,"wires":[["57bde888.5a7258","83ed9dcd.4f57c"]]},{"id":"b9d940bc.14c56","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":601.4094161987305,"y":711.1059012413025,"wires":[["8b713145.034a8"]]},{"id":"da595760.35ed38","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":1193.6594161987305,"y":650.7152762413025,"wires":[]},{"id":"83ed9dcd.4f57c","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":1205.4094161987305,"y":717.1059012413025,"wires":[]},{"id":"3e5eb4d5.b2050c","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"false","x":805.6516036987305,"y":522.7230887413025,"wires":[]},{"id":"a3f5b64f.e11b48","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]