public/flow/ws_gateway.json
[{"id":"1dbfbc8e.964763","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":106.99999237060547,"y":503.33331823349,"wires":[]},{"id":"4eb1a5bc.ab4a6c","type":"function","z":"7ea42bd7.df0fa4","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":136.55469512939453,"y":607.7196097373962,"wires":[["98541b39.2689d8"],["318cd608.987dfa"]]},{"id":"80ce7da3.3ee2a","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table1\", v: json}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":861.5547256469727,"y":659.7196097373962,"wires":[["98541b39.2689d8","bc22665d.137af8"]]},{"id":"98541b39.2689d8","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"b2eaa7f9.638558","client":"","x":1177.5547256469727,"y":580.7196097373962,"wires":[]},{"id":"b0003e78.5ea55","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":593.5547256469727,"y":662.7196097373962,"wires":[["80ce7da3.3ee2a","edf9c473.6439e8"]]},{"id":"d975fb80.5e33b8","type":"websocket in","z":"7ea42bd7.df0fa4","name":"Web Socket gateway - in","server":"b2eaa7f9.638558","client":"","x":130.04605865478516,"y":548.322051525116,"wires":[["4eb1a5bc.ab4a6c"]]},{"id":"318cd608.987dfa","type":"function","z":"7ea42bd7.df0fa4","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&mdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":417.85160064697266,"y":653.9652762413025,"wires":[["b0003e78.5ea55"],["f3c06f74.773fe"]]},{"id":"e897f5a1.7a4268","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table2\", v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":869.6094131469727,"y":724.1059012413025,"wires":[["98541b39.2689d8","dffc02af.f60ec"]]},{"id":"f3c06f74.773fe","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":591.6094131469727,"y":727.1059012413025,"wires":[["e897f5a1.7a4268"]]},{"id":"bc22665d.137af8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":1183.8594131469727,"y":666.7152762413025,"wires":[]},{"id":"dffc02af.f60ec","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"payload","x":1195.6094131469727,"y":733.1059012413025,"wires":[]},{"id":"edf9c473.6439e8","type":"debug","z":"7ea42bd7.df0fa4","name":"","active":false,"console":"false","complete":"false","x":795.8516006469727,"y":538.7230887413025,"wires":[]},{"id":"b2eaa7f9.638558","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]