public/flow/ws_gateway.json
[{"id":"a3d8260.ebca9d8","type":"comment","z":"4f2b4131.421e2","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":137.73331451416016,"y":513.33331823349,"wires":[]},{"id":"f1b23b05.31fa08","type":"function","z":"4f2b4131.421e2","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":167.28801727294922,"y":617.7196097373962,"wires":[["3ec156e1.47636a"],["30564c62.c3cab4"]]},{"id":"c4a33e41.92a49","type":"function","z":"4f2b4131.421e2","name":"Get Device Information","func":"node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table1\", v: json}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":892.2880477905273,"y":669.7196097373962,"wires":[["3ec156e1.47636a","5b6a10a5.36c08"]]},{"id":"3ec156e1.47636a","type":"websocket out","z":"4f2b4131.421e2","name":"web socket mobiUI - out","server":"f0faa73c.6affe8","client":"","x":1208.2880477905273,"y":590.7196097373962,"wires":[]},{"id":"2d5c058a.5f5cea","type":"http request","z":"4f2b4131.421e2","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":624.2880477905273,"y":672.7196097373962,"wires":[["c4a33e41.92a49","ae4e21b2.3aa16"]]},{"id":"272ed883.cc10d8","type":"websocket in","z":"4f2b4131.421e2","name":"Web Socket gateway - in","server":"f0faa73c.6affe8","client":"","x":160.77938079833984,"y":558.322051525116,"wires":[["f1b23b05.31fa08"]]},{"id":"30564c62.c3cab4","type":"function","z":"4f2b4131.421e2","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {};\n\nif(arrId !== undefined){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&sdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&sdate=\"+date+\"&option=\"+option+'&flag='+flag;\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2];\n}else{\n    return;\n}\n\n","outputs":"2","noerr":0,"x":448.58492279052734,"y":663.9652762413025,"wires":[["2d5c058a.5f5cea"],["3b6746d0.89f41a"]]},{"id":"f1607ab.0065e88","type":"function","z":"4f2b4131.421e2","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nvar flag = json.flag;\n\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar json = {data:dataString,type: 'gateway',flag:flag}\n\nmsg.payload = {id:\"change_table2\", v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":900.3427352905273,"y":734.1059012413025,"wires":[["3ec156e1.47636a","e88106cf.22d858"]]},{"id":"3b6746d0.89f41a","type":"http request","z":"4f2b4131.421e2","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":622.3427352905273,"y":737.1059012413025,"wires":[["f1607ab.0065e88"]]},{"id":"5b6a10a5.36c08","type":"debug","z":"4f2b4131.421e2","name":"","active":false,"console":"false","complete":"payload","x":1214.5927352905273,"y":676.7152762413025,"wires":[]},{"id":"e88106cf.22d858","type":"debug","z":"4f2b4131.421e2","name":"","active":false,"console":"false","complete":"payload","x":1226.3427352905273,"y":743.1059012413025,"wires":[]},{"id":"ae4e21b2.3aa16","type":"debug","z":"4f2b4131.421e2","name":"","active":false,"console":"false","complete":"false","x":826.5849227905273,"y":548.7230887413025,"wires":[]},{"id":"f0faa73c.6affe8","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"}]