public/flow/ws_index.json
[{"id":"7a6e3abd.a7a334","type":"websocket in","z":"9467c388.fa093","name":"web socket index - in","server":"4a44a222.eb446c","client":"","x":130,"y":84.99999618530273,"wires":[["237cb35c.5bb68c"]]},{"id":"237cb35c.5bb68c","type":"function","z":"9467c388.fa093","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":402.44444274902344,"y":102.33332920074463,"wires":[["6ffadbea.9ad404"],["41a47884.782938"]]},{"id":"8ee6e411.fb2118","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":869.4444427490234,"y":125,"wires":[["6ffadbea.9ad404"]]},{"id":"6ffadbea.9ad404","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"4a44a222.eb446c","client":"","x":1148.4444427490234,"y":85,"wires":[]},{"id":"b0877a7.2af6a88","type":"comment","z":"9467c388.fa093","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":108.44444274902344,"y":38,"wires":[]},{"id":"41a47884.782938","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":619.4444427490234,"y":125,"wires":[["8ee6e411.fb2118"]]},{"id":"4a44a222.eb446c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"}]