public/flow/ws_index.json
[{"id":"94d0523d.6721d","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket index - in","server":"33e2347f.64cc5c","client":"","x":120.19999694824219,"y":100.99999618530273,"wires":[["37b951ac.1b369e"]]},{"id":"37b951ac.1b369e","type":"function","z":"7ea42bd7.df0fa4","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":392.6444396972656,"y":118.33332920074463,"wires":[["4b28d9a8.cb3ea8"],["c34d8c3c.7e41a"]]},{"id":"d7177278.5995e","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":849.6444396972656,"y":141,"wires":[["4b28d9a8.cb3ea8"]]},{"id":"4b28d9a8.cb3ea8","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"33e2347f.64cc5c","client":"","x":1138.6444396972656,"y":101,"wires":[]},{"id":"b0491091.cf1be","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":98.64443969726562,"y":54,"wires":[]},{"id":"c34d8c3c.7e41a","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":609.6444396972656,"y":141,"wires":[["d7177278.5995e"]]},{"id":"33e2347f.64cc5c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"}][{"id":"94d0523d.6721d","type":"websocket in","z":"7ea42bd7.df0fa4","name":"web socket index - in","server":"33e2347f.64cc5c","client":"","x":120.19999694824219,"y":100.99999618530273,"wires":[["37b951ac.1b369e"]]},{"id":"37b951ac.1b369e","type":"function","z":"7ea42bd7.df0fa4","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":392.6444396972656,"y":118.33332920074463,"wires":[["4b28d9a8.cb3ea8"],["c34d8c3c.7e41a"]]},{"id":"d7177278.5995e","type":"function","z":"7ea42bd7.df0fa4","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":849.6444396972656,"y":141,"wires":[["4b28d9a8.cb3ea8"]]},{"id":"4b28d9a8.cb3ea8","type":"websocket out","z":"7ea42bd7.df0fa4","name":"web socket mobiUI - out","server":"33e2347f.64cc5c","client":"","x":1138.6444396972656,"y":101,"wires":[]},{"id":"b0491091.cf1be","type":"comment","z":"7ea42bd7.df0fa4","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":98.64443969726562,"y":54,"wires":[]},{"id":"c34d8c3c.7e41a","type":"http request","z":"7ea42bd7.df0fa4","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":609.6444396972656,"y":141,"wires":[["d7177278.5995e"]]},{"id":"33e2347f.64cc5c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"}]