public/flow/ws_index.json
[{"id":"57cc74e3.a0769c","type":"websocket in","z":"4f2b4131.421e2","name":"web socket index - in","server":"b9eb74c7.842e78","client":"","x":150.93331909179688,"y":110.99999618530273,"wires":[["b9e88feb.83488"]]},{"id":"b9e88feb.83488","type":"function","z":"4f2b4131.421e2","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":423.3777618408203,"y":128.33332920074463,"wires":[["8defaa0b.58ed68"],["3d6a1bbd.41bde4"]]},{"id":"4e797228.60e79c","type":"function","z":"4f2b4131.421e2","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":890.3777618408203,"y":151,"wires":[["8defaa0b.58ed68"]]},{"id":"8defaa0b.58ed68","type":"websocket out","z":"4f2b4131.421e2","name":"web socket mobiUI - out","server":"b9eb74c7.842e78","client":"","x":1169.3777618408203,"y":111,"wires":[]},{"id":"ac0b08d7.3b3608","type":"comment","z":"4f2b4131.421e2","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":129.3777618408203,"y":64,"wires":[]},{"id":"3d6a1bbd.41bde4","type":"http request","z":"4f2b4131.421e2","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":640.3777618408203,"y":151,"wires":[["4e797228.60e79c"]]},{"id":"b9eb74c7.842e78","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"}]