.nodered/flows_Jason-PC.json
[{"id":"9467c388.fa093","type":"tab","label":"Flow 1"},{"id":"4a44a222.eb446c","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"c45b7414.51ee88","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"},{"id":"a3f5b64f.e11b48","type":"websocket-listener","z":"","path":"/ws/gateway","wholemsg":"false"},{"id":"7a6e3abd.a7a334","type":"websocket in","z":"9467c388.fa093","name":"web socket index - in","server":"4a44a222.eb446c","client":"","x":130,"y":84.99999618530273,"wires":[["237cb35c.5bb68c"]]},{"id":"237cb35c.5bb68c","type":"function","z":"9467c388.fa093","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n//msg.topic = obj.flag;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n    var json = obj.v;\n\tcontext.global.selectedType=json.type;\n\tnode.warn('change_type:'+json.type +',flag:' +json.flag);\n\t//context.global.flag = json.flag;\n\tmsg.url = 'http://' + json.host +':'+ json.port +'/todos/lists?name=finalist&type='+json.type+'&flag='+json.flag;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":402.44444274902344,"y":102.33332920074463,"wires":[["6ffadbea.9ad404"],["41a47884.782938"]]},{"id":"8ee6e411.fb2118","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"//node.warn('Get Device Information\\n'+JSON.stringify(msg));\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar lists = json.lists;\nvar flag = json.flag;\n\nvar dataString = msgTools.getFinalData(lists);\nvar json = {type: context.global.selectedType,flag:flag,data: dataString};\n\nnode.warn('type: '+context.global.selectedType);\nnode.warn('flag: '+flag);\nmsg.payload = {id:\"change_table\",v: json}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(json));\n\nreturn msg;","outputs":1,"noerr":0,"x":869.4444427490234,"y":125,"wires":[["6ffadbea.9ad404"]]},{"id":"6ffadbea.9ad404","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"4a44a222.eb446c","client":"","x":1148.4444427490234,"y":85,"wires":[]},{"id":"b0877a7.2af6a88","type":"comment","z":"9467c388.fa093","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":108.44444274902344,"y":38,"wires":[]},{"id":"41a47884.782938","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":619.4444427490234,"y":125,"wires":[["8ee6e411.fb2118"]]},{"id":"f61c1773.a77808","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"c45b7414.51ee88","client":"","x":880.8000030517578,"y":355.5,"wires":[]},{"id":"d63a29b4.958e38","type":"websocket in","z":"9467c388.fa093","name":"web socket tools - in","server":"c45b7414.51ee88","client":"","x":114.80000305175781,"y":269.5,"wires":[["f036d80c.005678","b9979b06.500aa8"]]},{"id":"ed9869e.b400698","type":"comment","z":"9467c388.fa093","name":"Listen /ws/devices","info":"","x":104.80000305175781,"y":230.5,"wires":[]},{"id":"b9979b06.500aa8","type":"function","z":"9467c388.fa093","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var sDate = obj.v.sDate;\n    var eDate = obj.v.eDate;\n    //var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&sDate=\"+sDate+\"&eDate=\"+eDate;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":101.24444580078125,"y":354.49999618530273,"wires":[["b5125cfb.ad467"]]},{"id":"f036d80c.005678","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":431.0500030517578,"y":268.1171875,"wires":[]},{"id":"b5125cfb.ad467","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":298.8000030517578,"y":354.5,"wires":[["eb2e50cc.b3aa6","ea8bd892.b0b188"]]},{"id":"eb2e50cc.b3aa6","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"false","x":412.0421905517578,"y":434.1171875,"wires":[]},{"id":"ea8bd892.b0b188","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":579.8000030517578,"y":356.5,"wires":[["f61c1773.a77808"]]},{"id":"9f0fa04a.80316","type":"comment","z":"9467c388.fa093","name":"Listen /ws/gateway","info":"global selectGWMac save in msgTools\nreceive id='init' to get\nreceive id='change_mac' to get devices of two modules in gateway ","x":116.79999542236328,"y":487.33331823349,"wires":[]},{"id":"50eb233d.581c3c","type":"function","z":"9467c388.fa093","name":"Check WS Message","func":"\nvar obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_btn\", v: \"gateway\" };\n\treturn [msg,null];\n}else if(obj.id==\"find\"){\n   \n    msg.payload = obj.v;\n    node.warn('find payload:'+ JSON.stringify(msg.payload) );\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":146.35469818115234,"y":591.7196097373962,"wires":[["57bde888.5a7258"],["3616f354.ed445c"]]},{"id":"4d04ac36.650c74","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nnode.warn('Get Device length:'+devices.length);\nvar flag = json.flag;\nvar page = 0;\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar obj = {data:dataString,type: 'gateway',flag:flag}\nif(json.page !== undefined && json.page > 0){\n    obj.page = json.page;\n}\n\nmsg.payload = {id:\"change_table1\", v: obj}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":853.3548583984375,"y":598.7197036743164,"wires":[["57bde888.5a7258","da595760.35ed38"]]},{"id":"57bde888.5a7258","type":"websocket out","z":"9467c388.fa093","name":"web socket mobiUI - out","server":"a3f5b64f.e11b48","client":"","x":1187.3547286987305,"y":564.7196097373962,"wires":[]},{"id":"87ab3af8.21a588","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":620.3549041748047,"y":601.7197675704956,"wires":[["3e5eb4d5.b2050c","4d04ac36.650c74"]]},{"id":"8e932737.162b08","type":"websocket in","z":"9467c388.fa093","name":"Web Socket gateway - in","server":"a3f5b64f.e11b48","client":"","x":139.84606170654297,"y":532.322051525116,"wires":[["50eb233d.581c3c"]]},{"id":"3616f354.ed445c","type":"function","z":"9467c388.fa093","name":"Get GW ID","func":"var msgTools = context.global.msgTools;\nnode.warn('Get GW ID :'+JSON.stringify(msg.payload));\nnode.warn(msg.payload);\nvar obj = msg.payload;\nvar mac = obj.mac;\nvar date = obj.date;\nvar option = obj.option;\nvar page = obj.page;\nvar host = obj.host;\nvar port = obj.port;\nvar flag = obj.flag;\ncontext.global.selectedMac= mac;\ncontext.global.findFlag=obj.flag;\nvar arrId = msgTools.getGwIdByMac(mac);\nvar msg1 = {},msg2 = {},msg3 = {};\n//Jason add msg3 for get page number on 2017.05.05\n\nif(arrId !== undefined && page === 0){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page=1';\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page=1';\n    msg3.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page=0';\n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    node.warn('msg3.url :\\n'+msg3.url);\n    return [msg1,msg2,msg3];\n}else if(arrId !== undefined && page > 0){\n    msg1.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[0]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page='+page;\n    msg2.url = \"http://\"+host+\":\"+port+\"/todos/devices?gwId=\"+arrId[1]+\"&sDate=\"+date+\"&option=\"+option+'&flag='+flag+'&page='+page;\n   \n    node.warn('msg1.url :\\n'+msg1.url);\n    node.warn('msg2.url :\\n'+msg2.url);\n    return [msg1,msg2,null];\n}else{\n    return;\n}\n\n","outputs":"3","noerr":0,"x":421.6516571044922,"y":635.9653196334839,"wires":[["87ab3af8.21a588"],["b9d940bc.14c56"],["7080c9d7.8ccca8"]]},{"id":"8b713145.034a8","type":"function","z":"9467c388.fa093","name":"Get Device Information","func":"\nvar msgTools = context.global.msgTools;\nvar json = msg.payload;\nvar devices = json.devices;\nnode.warn('Get Device length:'+devices.length);\nvar flag = json.flag;\nvar page = 0;\nvar dataString = msgTools.getDevicesData('gateway',devices);\nvar obj = {data:dataString,type: 'gateway',flag:flag}\nif(json.page !== undefined && json.page > 0){\n    obj.page = json.page;\n}\n\nmsg.payload = {id:\"change_table2\", v: obj}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":849.4094848632812,"y":643.1059761047363,"wires":[["57bde888.5a7258","83ed9dcd.4f57c"]]},{"id":"b9d940bc.14c56","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":620.4095840454102,"y":643.1060333251953,"wires":[["8b713145.034a8"]]},{"id":"da595760.35ed38","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":1194.6594161987305,"y":614.7153425216675,"wires":[]},{"id":"83ed9dcd.4f57c","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"payload","x":1195.4094200134277,"y":654.1059761047363,"wires":[]},{"id":"3e5eb4d5.b2050c","type":"debug","z":"9467c388.fa093","name":"","active":false,"console":"false","complete":"false","x":805.6516036987305,"y":522.7230887413025,"wires":[]},{"id":"7080c9d7.8ccca8","type":"http request","z":"9467c388.fa093","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":626.199951171875,"y":687.6000480651855,"wires":[["6acec6ae.cb34c8"]]},{"id":"6acec6ae.cb34c8","type":"function","z":"9467c388.fa093","name":"Get Page number","func":"\nvar msgTools = context.global.msgTools;\nnode.warn(' msg.payload:'+JSON.stringify( msg.payload));\nvar json = msg.payload;\nvar page = json.page;\nnode.warn('Get page number:'+page);\nvar flag = json.flag;\nvar page = 0;\n\nvar obj = {page:page,type: 'gateway',flag:flag}\nif(json.page !== undefined && json.page > 0){\n    obj.page = json.page;\n}\n\nmsg.payload = {id:\"change_page\", v: obj}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":843.199951171875,"y":686.5999755859375,"wires":[["57bde888.5a7258"]]}]